<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
      <!--link al the css files,bootstrap cdn link, fontawesome-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/732188d8b2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/edituser.css" />
   
  </head>
  <body>

    <!-- container-fluid starts here -->
    <div class="container-fluid">
      <div class="experience">
         
        <h2>Update your Host-Property.</h2>
        
        <form action="/hostinform/<%=data2._id%>" method="POST"  class="row g-3">
        
          <div class="col-sm-6">
            <label for="Home name" class="form-label">Home Name</label>
            <input type="home name" value=" <%=data2.HomeName%>" class="form-control" name="hname" />
          </div>
          <div class="col-sm-6">
            <label for="location" class="form-label">Location</label>
            <input type="password" value="<%=data2.Location%>" class="form-control" name="location" />
          </div>
          <div class="col-sm-6">
            <label for="property_type" class="form-label">PropertyType</label>
            <input type="property_type"  value="<%=data2.PropertyType%>" class="form-control" name="ptype" />
          </div>
          
          <div class="col-sm-6">
            <label for="Image Url" class="form-label">Homeurl</label>
            <input type="text" value="<%=data2.Homeurl%>" class="form-control" name="Imageurl" />
          </div>
          <div class="col-sm-6">
            <label for="minimum_nights" class="form-label"
              >minimum_nights</label
            >
            <input type="text"  value="<%=data2.minimum_nights%>"class="form-control" name="mnights" />
          </div>
          <div class="col-sm-6">
            <label for="neighbourhood_overview" class="form-label"
              >neighbourhood_overview</label
            >
            <input type="text" value="<%=data2.neighbourhood_overview%>" class="form-control" name="overview" />
          </div>
          <div class="col-sm-6">
            <label for="cancellation_policy" class="form-label"
              >cancellation_policy</label
            >
            <input type="text"  class="form-control" value="<%=data2.cancellation_policy%>" name="policy" />
          </div>
          <div class="col-sm-6">
            <label for="price" class="form-label">Price</label>
            <input type="number" value="<%=data2.Price%>" class="form-control" value="<%=data2.Price%>" name="price" />
          </div>
          <br />
            <button type="submit" value="Update Users"class="btn btn-danger">Update Admin</button>
          </div>
        </form>
     
      </div>
   
    </div>
        <!-- container-fluid ends here -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
